@page
@functions
{
  public void OnGet()
  {
    ViewData["Title"] = "Scores Home"; 
  }
}

<div class="jumbotron">
  <h1 class="display-3">Welcome to School System</h1>
  <p class="lead">We are glad for your visit</p>
  <hr />
  <p>Check about the info</p>
  <p>
    <a class="btn btn-primary" 
       href="subjects">Subjects</a>
  </p>
  <p>
    <a class="btn btn-primary" 
        href="teachers">Teachers</a>
  </p>
  <p>
    <a class="btn btn-primary" 
        href="groups">Groups</a>
  </p>
  <p>
    <a class="btn btn-primary" 
        href="assignatures">Assignatures</a>
  </p>
</div>